body {
  background:#f0f2f5;
}

h1 {
  font-family:'Judson', serif;
  color: #fbcf3c;
  font-size: 40px;
  font-weight: 900;
  margin-bottom:10px;
}
h2 {
  font-family: 'Cardo', serif;
  color: #f0f2f5;
  font-size: 20px;
  font-weight: lighter;
  font-weight: 500;
  margin-top:0px;
  margin-right:20px;
  margin-bottom:40px;
  margin-left:20px;
}
a {
  font-family: 'Judson', serif;;
  text-decoration: none;
  color: #fbcf3c;
  font-weight: 600;
  font-size: 15px;
}
a:hover {
  color: c;
}

img {
  border-radius: 50%;
}

.container {

  width: 500px;        /* Set the width */
  margin: 0 auto;      /* Set automatic margins on right/left */

}

.card {
  /*background-color: #292929;*/
  background: linear-gradient(#292929, 80%, black);
  padding: 40px;
  box-shadow: 0px 10px 28px rgba(0,0,0,0.1);
  border-radius: 8px;
  margin: 24px 0px;
  text-align: center;
}

.card2 {
  /*background-color: #292929;*/
  background: linear-gradient(black, 60%, #292929);
  padding: 40px;
  box-shadow: 0px 10px 28px rgba(0,0,0,0.1);
  border-radius: 8px;
  margin: 24px 0px;
  text-align: center;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.btn-webpage {
  background-color: #fbcf3c;
  color: #3d3d3d;
  padding: 15px 15px;
  border-radius: 8px;
  margin-top:40px;
}
.btn-webpage:hover {
  background-color: #292929;
    color: #f0f2f5;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
